.apresentacao {
  border-radius: 0.5rem;
  background: var(--gradiente-azul);

  display: flex;
  padding: 3rem 2.5rem;
  justify-content: space-between;
}

.boas-vindas {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.boas-vindas__data {
  font-size: 0.8125rem;
}

.boas-vindas__titulo {
  font-size: 1.9375rem;
  font-weight: 600;
  line-height: 125%;
}

.saldo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.saldo__titulo {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 120%
}

.saldo__divisoria {
  height: 0.125rem;
  background: var(--preto);
}

.saldo__tipo-conta {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

.saldo__valor {
  font-size: 1.9375rem;
  font-weight: 600;
  line-height: 125%;
}
