.app {
  padding: 2.5rem;
  display: grid;
  grid-template-areas:
    'area1 area1 area3'
    'area2 area2 area3';
  gap: 1.5rem;
  max-width: 65rem;
  margin: 0 auto;
}

.area1 {
  grid-area: area1;
}

.area2 {
  grid-area: area2;
}

.area3 {
  grid-area: area3;
}
